/* .container {
  margin-top: 15px;
}

.exercisecontainer {
  border: black 4px dotted;
} */


html, body, pre, code, kbd, samp {
  font-family: "Helvetica";
}

header, nav, h1, h2, h3, h4, h5, h6 {
  font-family: "Press Start 2P";
  font-size: 8pt;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
  padding: 5px;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

.wrapper > * {
  /* border: 2px solid #f08c00; */
  /* background-color: #ffec99; */
  /* border-radius: 5px; */
  padding: 10px;
}
/* 
.side {
  font-size: 6pt;
}

.main-nav {
  font-size: 6pt;
} */

.main-header {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
}

.main-header > .left {
  justify-self: start;
  grid-column: 1;
}

.main-header > .center {
  justify-content: center;
  grid-column: 2;
}

.main-header > .right {
  justify-self: end;
  grid-column: 3;
}

.main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  /* height: 101px; */
  width: 100%;
  background-color: black;
  /* color: white; */
  text-align: center;
  /* overflow:hidden; */
}

.main-footer-content {
  height: 101px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.content, .side, .main-nav {
  margin-bottom: 111px;
}

@media (min-width: 500px) {
  .side {
    grid-column: col-start / span 3;
    grid-row: 3;
  }
  .ad {
    grid-column: col-start / span 3;
    grid-row: 4;
  }
  .content, .main-footer {
    grid-column: col-start 4 / span 9;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .main-nav {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;
  }
  .content {
    grid-column: col-start 3 / span 6;
    grid-row: 2 / 4;
  }
  .side {
    grid-column: col-start 9 / span 4;
    grid-row: 2;
  }
  .main-footer {
    grid-column: col-start / span 12;
  }
  nav ul {
    flex-direction: column;
  }
}

.exercise-container {
  position:relative;
  height:0;
  padding-top:45%;
  /* overflow:hidden; */
  padding-left: 5px;
  padding-right: 5px;
}

.exercise-frame {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  border: none;

}

.exercise-tips {
  display: grid;
  grid-template-columns: 225px 225px 225px;
}

.exercise-section {
  margin-top: 15px;
}

.tip-card-container {
  width: 200px;
  display: grid;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  color: black;
  pointer-events: none;
  bottom: 25px;
  margin-left: -165px;
  position: absolute;
  z-index: 1;
}

.tooltip-content {
  width: 500px
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-footer > .nes-container > :last-child {
  margin-bottom: inherit;
}

/* press-start-2p-regular - latin-ext_latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/press-start-2p-v12-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/press-start-2p-v12-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/press-start-2p-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/press-start-2p-v12-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/press-start-2p-v12-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/press-start-2p-v12-latin-ext_latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
}
